.log-user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.523);
    border-radius: 5px;
    height: 60%;
    width: 80%;
}

hr {
    width: 100%;
}